<a href="https://colab.research.google.com/github/aizatbite/CDS503-Assignment-1/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Form a small group of 2 people and look at the census income data (adult.txt can be downloaded 
from elearn@usm). For the data set description, please refer to: 
http://mlr.cs.umass.edu/ml/datasets/Adult.
Look at each attribute and see what type of data it has. 
Question 1: Answer the following questions:
a) What are the types of the attributes?
• age
• workclass
• fnlwgt
• education
• education-num
• marital-status
• occupation
• relationship
• race
• gender
• capital-gain
• capital-loss
• hours-per-week
• native-country
• income-class
b) What classification task(s) can be formulated from this data?
c) What application question will this task be useful for?
d) What other attributes might be useful for this application question

In [ ]:
import pandas as pd

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving adult.csv to adult.csv

In [ ]:
#tengok 5 data terawal dan 5 data terakhir
da = pd.read_csv('adult.csv')
da

       age          workclass  ...   native-country  income-class
0       39          State-gov  ...    United-States         <=50K
1       50   Self-emp-not-inc  ...    United-States         <=50K
2       38            Private  ...    United-States         <=50K
3       53            Private  ...    United-States         <=50K
4       28            Private  ...             Cuba         <=50K
...    ...                ...  ...              ...           ...
32556   27            Private  ...    United-States         <=50K
32557   40            Private  ...    United-States          >50K
32558   58            Private  ...    United-States         <=50K
32559   22            Private  ...    United-States         <=50K
32560   52       Self-emp-inc  ...    United-States          >50K

[32561 rows x 15 columns]

In [ ]:
#Types of data attributes rev no [39]
da.dtypes

age                 int64
 workclass         object
 fnlwgt             int64
 education         object
 education-num      int64
 marital-status    object
 occupation        object
 relationship      object
 race              object
 gender            object
 capital-gain       int64
 capital-loss       int64
 hours-per-week     int64
 native-country    object
 income-class      object
dtype: object

In [ ]:
da.nunique()

age                   73
 workclass             9
 fnlwgt            21648
 education            16
 education-num        16
 marital-status        7
 occupation           15
 relationship          6
 race                  5
 gender                2
 capital-gain        119
 capital-loss         92
 hours-per-week       94
 native-country       42
 income-class          2
dtype: int64

In [ ]:
#Formulating classification task 
#Multiclass classsification
da=da.drop(da.columns[[2,4,5,7,8,9,10,11,13]], axis=1)
da

       age          workclass  ...  hours-per-week  income-class
0       39          State-gov  ...              40         <=50K
1       50   Self-emp-not-inc  ...              13         <=50K
2       38            Private  ...              40         <=50K
3       53            Private  ...              40         <=50K
4       28            Private  ...              40         <=50K
...    ...                ...  ...             ...           ...
32556   27            Private  ...              38         <=50K
32557   40            Private  ...              40          >50K
32558   58            Private  ...              40         <=50K
32559   22            Private  ...              20         <=50K
32560   52       Self-emp-inc  ...              40          >50K

[32561 rows x 6 columns]

## Binary Classification

Our class label would be the **income class** and the other attributes will be features (age,workclass,education,occupation and the working hours per week.Using da.nunique() function we can see that there is only 2 unique value availabe for income class (either <=50k or >50k).Based on the features that we chose, the model should determine the income class for every person.

## What application question will this task be useful for? 

**Relevance of getting a degree or higher education**

*   Is it still relevant to pursue higher education (bachelor
degree,master's degree or even phd) to achieve better income in the future? Education is super expensive plus there are many sites and companies that offer free educations to people such as KhanAcademy and Google. Google also launched grow with google which gives everybody chances to learn for **free** and getting hired by the company itself.

**Determine whether hours-per-week directly effected the status income**

*   Does working more hours necessarily translate to better income?
Some people work about 40 hours a week and earn more while there are also people who work the same amount of time and earn less. How about the larger population? Does the data support the assumption made ?

## What other attributes might be useful for this application question

*   Certificates
*   Emotional Quotient
*   Networking (number of acquintances)